* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #073D00;
}
nav ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 60px;
    justify-content: center;
}
li {
    list-style-type: none;
}
.nav ul li {
    color: white;

}
.nav-item-link {
    color:white;
    border-radius: 30px;
    padding: 10px 20px;
    background-color: green;
    margin: 5px;
    display: flex;
    
}
a:hover {
    color:black
}
.nav-item-link:hover {
    background-color: rgb(9, 255, 0);
    border-radius: 30px;
    
}
footer {
    background-image: url(Lehtiala.png);
    background-size: cover;
    text-align: center;
    color: aliceblue;
    position:fixed;
    left:0px;
    bottom:0px;
    width:100%;
    height: 5%;
}
header {
    background-image: url(Lehtiyla.png);
    background-size: cover;
    text-align: center;
    color: aliceblue;
    position: fixed;
    top: 0;
    height: 5%;
    width: 100%
}
div{
    margin: 10px;
    color: white;
}
.text .text_content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-rows: max-content max-content max-content;
    margin: 10px;
}
@media screen and (max-width: 900px) {
    img {
        display: none;
    }
    .text {
        display: flex;
        flex-direction: column;
        text-align: center;
    }
}
@media screen and (min-width: 901px)  {
    .forest {
        width: 40%;
        float: right;
    }
    .showcasepictures {
        width: 40%;
    }
}
.otsikko_majoitus {
    text-align: center;
}
.text_content_majoitus {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-rows: max-content max-content max-content;
    margin: 10px;
    
}
.text_content_yhteystiedot {
text-align: center;
    grid-template-rows: max-content max-content max-content;
    margin: 10px;
}
